@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #B2D234;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 20vh;
}
footer p {
  color: white;
  font-size: 18px;
}
footer h3 {
  color: white;
  font-size: 23px;
}
@media (max-width: 810px) {
  footer {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 70vh;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image_background {
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  position: absolute;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  z-index: 2;
}
nav ul {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  list-style: none;
  text-decoration: none;
}
nav li a {
  color: white;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}
nav button {
  background-color: white;
  color: #B2D234;
  border: 1px solid white;
  padding: 10px;
  border-radius: 7px;
}
@media (max-width: 950px) {
  nav {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

header h1 {
  color: white;
  z-index: 3;
  position: absolute;
  font-size: 126px;
  top: 280px;
}
header p {
  color: white;
  z-index: 3;
  position: absolute;
  font-size: 52px;
  transform: rotate(-9deg);
  left: 435px;
  margin-bottom: -50px;
}
header .center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  margin: 0;
}
header .icone {
  z-index: 3;
  position: absolute;
  bottom: 30px;
  right: 40px;
  display: flex;
  gap: 20px;
}
header .icone .icone img {
  width: 30px;
  height: auto;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 88px;
  }
}
@media (max-width: 450px) {
  header h1 {
    font-size: 64px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section.image2 {
  background-image: url("image/61842.png");
}
section .paragraphe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
  width: 460px;
  height: 100vh;
}
section .repeat {
  background-repeat: repeat;
  position: absolute;
  height: 100vh;
}
section .img {
  right: -140px;
  top: 100px;
  position: absolute;
  height: 100vh;
}
section h2 {
  color: #B2D234;
  font-size: 40px;
  margin-bottom: 20px;
}
section button {
  background-color: #B2D234;
  color: white;
  border: 1px solid #B2D234;
  padding: 10px;
  font-size: 24px;
  border-radius: 15px;
  margin-top: 20px;
}

.section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(image/ismael-trevino-NDyuR4Huig8-unsplash.png);
  background-repeat: round;
}
.section2 h2 {
  color: white;
  text-align: center;
}
.section2 p {
  text-align: center;
}
.section2 div {
  background-color: #B2D234;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  height: 75vh;
  margin-left: 600px;
  opacity: 85%;
  padding: 40px;
}
.section2 button {
  background-color: white;
  color: #B2D234;
}
@media (max-width: 1150px) {
  .section2 div {
    height: 80vh;
    margin-left: 320px;
  }
}
@media (max-width: 780px) {
  .section2 div {
    height: 95vh;
    margin-left: 230px;
  }
}

.section3 {
  height: 100vh;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.section3 h2 {
  text-align: center;
}
.section3 h3 {
  color: #B2D234;
}
.section3 p {
  text-align: center;
  max-width: 70%;
  margin: auto;
  margin-bottom: 30px;
}
.section3 > div.grid {
  gap: 60px;
}
.section3 > div.grid > div h3 {
  color: #B2D234;
}
.section3 > div.grid > div p {
  max-width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.section3 > div.grid > div .prix {
  text-align: right;
  margin-top: -30px;
  color: #B2D234;
}
.section3 > div.grid h2 {
  transform: rotate(-9deg);
  font-style: italic;
}
.section3 > div.grid .bleu {
  color: #60A0D8;
}
.section3 > div.grid button {
  align-items: center;
}
.section3 .droite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section3 .droite p {
  margin-top: 65px;
  text-align: center !important;
}
.section3 .droite button {
  margin: 65px;
}

.section4 {
  width: 100%;
  height: 100vh;
  background-image: url(image/louis-hansel-MlPD-AzZYMg-unsplash.png);
  background-repeat: round;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section4 .vert_bleu {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 25px;
}
.section4 .couleur-verte {
  background-color: rgba(178, 210, 52, 0.7);
  width: 49%;
  padding: 20px;
  color: white;
}
.section4 .couleur-bleu {
  background-color: rgba(96, 160, 216, 0.7);
  width: 49%;
  padding: 20px;
  color: white;
}
.section4 h2 {
  color: white;
  text-align: center;
}
.section4 p {
  width: 50%;
  text-align: center;
}
.section4 .texte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 75px;
  white-space: nowrap;
}
@media (max-width: 950px) {
  .section4 .vert_bleu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .section4 .couleur-verte {
    width: 80%;
  }
  .section4 .couleur-bleu {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .section4 {
    height: 150vh;
  }
  .section4 .texte {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 475px) {
  .section4 {
    height: 175vh;
  }
}

.section5 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(image/61842.png);
}
.section5 .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 img {
  max-width: 100%;
  height: auto;
}
.section5 .rectangle {
  position: absolute;
  background-color: white;
  width: 1%;
  height: 63.5%;
  top: 18.25%;
}
.section5 .rectangle2 {
  position: absolute;
  background-color: white;
  width: 41.3%;
  height: 1.5%;
  top: 49.5%;
  left: 4.35%;
}
.section5 .cote_droit {
  width: 90%;
}
.section5 h2 {
  margin-top: 62px;
  color: #B2D234;
}
.section5 .bordure {
  color: white !important;
  border: 1px solid gray;
  padding: 10px;
}
.section5 .formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.section5 .formulaire p {
  color: #B2D234;
  font-size: 23px;
}
.section5 .élément_une_colonne {
  grid-column: span 2;
}
.section5 button {
  grid-column: span 2;
  justify-self: center;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
}

/*# sourceMappingURL=style.css.map */
