footer {
    background-color: $clr-vert;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 20vh;

    p{
        color: $clr-blanc;
        font-size: $clr-18;
    }

    h3{
        color: $clr-blanc;
        font-size: $clr-23;
    }
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

