*{
    font-family:"Poppins",sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &.image2 {
        background-image: url('image/61842.png');
    }

    .paragraphe{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 80px;
        width: 460px;
        height: 100vh;
    }

    .repeat{
        background-repeat: repeat;
        position: absolute;
        height: 100vh;
       
    }
    .img{
       right: -140px; 
       top: 100px;
       position: absolute;
       height: 100vh;
    }


    h2{
        color: $clr-vert;
        font-size: 40px;
        margin-bottom: 20px;
        
    }

    button{
        background-color: $clr-vert;
        color: $clr-blanc;
        border: 1px solid $clr-vert;
        padding: 10px;
        font-size: 24px;
        border-radius: 15px;
        margin-top: 20px;

    }
}

.section2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(image/ismael-trevino-NDyuR4Huig8-unsplash.png);
    background-repeat: round;

    h2{
        color: $clr-blanc;
        text-align: center;
    }

    p{
        text-align: center;
    }

    div{
        background-color: $clr-vert;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 45%;
        height: 75vh;
        margin-left: 600px;
        opacity: 85%;
        padding: 40px;
    }

    button{
        background-color: $clr-blanc;
        color: $clr-vert;
    }

    @media(max-width: 1150px){
        div{
            height: 80vh;
            margin-left: 320px;
        }
    }

    @media(max-width: 780px){
        div{
            height: 95vh;
            margin-left: 230px;
        }
    }
}

.section3{
    
    height: 100vh;
    width: 80%;  
    margin: auto;
    margin-top: 50px;

    h2{
        text-align: center;
    }

    h3{
        color: $clr-vert;
    }

    p{
        text-align: center;
        max-width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }

    > div.grid {
        
        gap: 60px;

        > div {
            

            h3 {
                color: $clr-vert;
                
            }

            p{
                max-width: 100%;
                text-align: left;
                margin-bottom: 10px;
                
            }

            .prix{
                text-align: right;
                margin-top: -30px;
                color: $clr-vert;
            }
        }

        h2{
            transform: rotate(-9deg);
            font-style: italic;
        }

        .bleu{
            color: $clr-bleu;
        }

        button{
            align-items: center;
        }

    }

    .droite{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            margin-top: 65px;
            text-align: center !important;
        }

        button{
            margin: 65px;
        }

    }

}

.section4{
    @include taille-section;
    background-image: url(image/louis-hansel-MlPD-AzZYMg-unsplash.png);
    background-repeat: round;
    display: flex;
    justify-content: space-around; 
    align-items: center;

    .vert_bleu{
        height: 65%;
        width: 100%;
        display: flex; 
        justify-content: space-around; 
        margin: 25px;
    }

    .couleur-verte{
        background-color: rgba($clr-vert, 0.7);
        width: 49%; 
        padding: 20px;
        color: $clr-blanc;
        
    }

    .couleur-bleu{
        background-color: rgba($clr-bleu, 0.7);
        width: 49%;
        padding: 20px;
        color: $clr-blanc;
    }

    h2{
        color: $clr-blanc;
        text-align: center;
    }

    p {
        width: 50%;
        text-align: center;
    }

    .texte{
        @include grid;
        justify-items: center;
        padding-top: 75px;
        white-space: nowrap;
    }

    @media (max-width: 950px) {
        .vert_bleu{
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }   
    }

    @media (max-width: 850px) {
        .couleur-verte{
            width: 80%
        } 
        
        .couleur-bleu{
            width: 80%
        }  
    }

    @media (max-width: 575px) {

        height: 150vh;
        
        .texte{
            grid-template-columns: 1fr
        }  
    }

    @media (max-width: 475px) {

        height: 175vh;
        
         
    }

}

.section5{
    @include taille-section;
    @include grid;
    background-image: url(image/61842.png);

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img {
        
        max-width: 100%;
        height: auto;
    }
    
    .rectangle {
        position: absolute;
        background-color: $clr-blanc;
        width: 1%;
        height: 63.5%;
        top: 18.25%;
    }

    .rectangle2 {
        position: absolute;
        background-color: $clr-blanc;
        width: 41.3%;
        height: 1.5%;
        top: 49.5%;
        left: 4.35%;

    }

    .cote_droit{
        width: 90%;
    }

    h2{
        margin-top: 62px;
        color: $clr-vert;
    }

    .bordure{
        color: white !important;
        border: 1px solid gray;
        padding: 10px
    }

    .formulaire{
        @include grid;
        gap: 5px;

        p{
            color: $clr-vert;
            font-size: $clr-23;
        }
    }

    .élément_une_colonne{
        grid-column: span 2;
    }

    button {
        grid-column: span 2;
        justify-self: center;
        border-radius: 10px;
        padding: 10px 50px 10px 50px 
    }

    
}